<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="../https://fonts.gstatic.com">
    <link rel="preconnect" href="../https://fonts.gstatic.com">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300&display=swap" rel="stylesheet">
    <title>Health Track Dashboard</title>
</head>
<body>
   
    <div class="flex-dashboard">
        <sidebar>
            <div class="sidebar-title">
                <img src="../imagens/heartbeat.png" alt="">
                <h2>Health Track</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <i class="fas fa-user"></i>
                        <a href="#">Perfil</a>
                    </li>
                    <li>
                        <i class="fas fa-balance-scale-right"></i>
                        <a href="#">Gerenciar Peso e altura</a>
                    </li>
                    <li>
                        <i class="fas fa-heartbeat"></i>
                        <a href="#">Gerenciar pressão arterial</a>
                    </li>
                    <li>
                        <i class="fas fa-running"></i>
                        <a href="#">Gerenciar atividades físicas</a>
                    </li>
                    <li>
                        <i class="fas fa-utensils"></i>
                        <a href="#">Gerenciar alimentos</a>
                    </li>
                    <li>
                        <i class="fas fa-calculator"></i>
                        <a href="#">Calcular IMC</a>
                    </li>
                    
                </ul>
            </div>
        </sidebar>
        <main>
         <header>
             <a href="dashboard.html"> <i class="fas fa-home"></i>Dashboard</a>
             <a href="../index.html" class="logout"> <i class="fas fa-sign-out-alt"></i>Logout</a>         
         </header>
           <div class="main-content">
                <div class="panel-row">
                    <button class="panel panel-50" a-view="cadastrarPeso" a-folder="peso" >Cadastrar peso</button>
                    <button class="panel panel-50" a-view="vizualizarPeso" a-folder="peso" >Visualizar peso</button>
                </div>
                <div class="content" id="ajax-content">
                    
                </div>
           </div>
        </main>
    </div>
    <script src="../plugins/bootstrap-5.0.0-beta3-dist/js/bootstrap.min.js"> </script>
    <script src="../plugins/fontawesome-free-5.15.3-web/js/all.min.js"></script>
    <script src="../js/ajax.js"></script>
</body>
</html>